$fontLight: ProximaNovaLight;
$fontThin: ProximaNovaThin;
$fontSemibold: ProximaNovaSemiBold;
$fontExtrabold: ProximaNovaExtraBold;

@font-face {
	font-family: OpenSans;
	src: url(fonts/opensans.ttf)
}

@font-face {
	font-family: OpenSansExtraBold;
	src: url(fonts/opensansextrabold.ttf)
}

@font-face {
	font-family: ProximaNovaThin;
	src: url(fonts/ProximaNovaThin.ttf)
}

@font-face {
	font-family: ProximaNovaLight;
	src: url(fonts/ProximaNovaLight.ttf)
}

@font-face {
	font-family: ProximaNovaSemiBold;
	src: url(fonts/ProximaNovaSemiBold.ttf)
}

@font-face {
	font-family: ProximaNovaExtraBold;
	src: url(fonts/ProximaNovaExtraBold.ttf)
}